/* using CSS3 flex, see */
#wrapper {
   min-height: 800px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
   }

  #center {
   margin: 4px;
   padding: 5px;
   border: 1px solid #cccc33;
   border-radius: 7pt;
   background: #dddd88;
   -webkit-flex: 3 1 60%;
           flex: 3 1 60%;
   -webkit-order: 2;
           order: 2;
   }

  #left {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 1;
           order: 1;
   }

  #right {
   margin: 4px;
   padding: 5px;
   border: 1px solid #8888bb;
   border-radius: 7pt;
   background: #ccccff;
   -webkit-flex: 1 6 20%;
           flex: 1 6 20%;
   -webkit-order: 3;
           order: 3;
   }

  #header, #footer {
   display: inline-block;
   margin: 4px;
   padding: 5px;
   min-height: 100px;
   border: 1px solid #eebb55;
   border-radius: 7pt;
   background: #ffeebb;
   }

  /* Too narrow to support three columns */
  @media all and (max-width: 640px) {

   #center {
    -webkit-flex-flow: column;
            flex-direction: column;
   }

   #center, #left, #right {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

  #center, #left, #right, header, footer {
    min-height: 50px;
    max-height: 50px;
   }
  }

/* --- End Column Layout --- */



/* --- Start "Themes" --- */

html,
body {
    font-family: "Lucida Console", Monaco, monospace;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#left, #right {
    background-color: lightgray;
}

#left {
    font-size: 50%;
}

#center {
    background-color: yellow;
}


header,
footer {
    color: purple;
    background-color: lightgray;
}


/* --- End "Themes" --- */



/* ------------------------------- */

.block {
    display: block;
    margin: 2em;
    /*width: 40%; */
    padding: 5px;
    list-style-type: none;
}
/*
.block p {

    float: left;
}
*/

.block ul {
    display: block;
    /* border: 1px solid #000; */
    list-style-type: none;
}

.block ul,
.block li {
    float: left;
    margin: 0;
    padding: 5px;
}

@media (min-width: 768px) {
    body {
        flex-direction: row;
        flex: 1;
    }

container {
        flex: 1;
    }

nav,
aside {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
}
