/* using CSS3 flex, see */

html,
body {
    display: flex;
    flex-direction: column;
    /* list-style-type: none; */
}

header {
}

/* center column */
main {
    flex: 1;
    display: block;
    text-align: left;
    font-weight: normal;
}

/* left column */
nav {
    display: block;
    order: -1;
    /*  border: 1px solid #000; */
}

/* right column */
/*
aside {

}
*/
/* --- End Column Layout --- */



/* --- Start "Themes" --- */
nav,
aside {
    background-color: #lightgray;
}


header,
footer {
    color: darkgray;
    background-color: lightgray;
}


/* --- End "Themes" --- */



/* ------------------------------- */

.block {
    display: block;
    margin: 2em;
    /*width: 40%; */
    padding: 5px;
    list-style-type: none;
}
/*
.block p {

    float: left;
}
*/

.block ul {
    display: block;
    /* border: 1px solid #000; */
    list-style-type: none;
}

.block ul,
.block li {
    float: left;
    margin: 0;
    padding: 5px;
}



@media (min-width: 768px) {
    body {
        flex-direction: row;
        flex: 1;
    }

container {
        flex: 1;
    }

nav,
aside {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
}
