/* Styling for 3-column - columns.css */

html,
body {
    font-family: "Lucida Console", Monaco, monospace;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

#left, #right {
    background-color: lightgray;
}

#left {
    /* font-size: 50%; */
}

#center {
    background-color:lightyellow;
    border: 1px solid #cccc33;
    border-radius: 7pt;
  /*  background: #dddd88; */
}

#header,
#footer {
  width: 100%;
  border: 1px solid #eebb55;
  border-radius: 7pt;
  background: #ffeebb;
}

#header {
  text-align: center;
}


/* --- End "Themes" --- */
